@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



/*------------FIRST BAR START------------*/

.dropdown-menu li{ position: relative;     }
.nav-item .submenu{ 
    display: none;
    position: absolute;
    left:100%; top:-7px;
}
.nav-item .submenu-left{ 
    right:100%; left:auto;
}
.dropdown-menu > li{ background-color: #141828;
}

.dropdown-menu > li:hover > .submenu{ display: block; }

.dropdown-item{
  color: #9FFFE1 ;
}

.first_bar .dropdown .li:hover{
  background-color: #141828 !important;
color: #141828 !important;
}


.navs ul{
padding-right: 8%;
margin:0 auto;
list-style:none;

}


.navs .nav-item{
  padding: 0 20px;
float:left;

}
nav.first_bar ul .nav-item {
transition: all 0.25s linear;
position: relative;
}

nav.first_bar ul .nav-item:before {
content: "";
display: block;
width: 100%;
height: 2px;
background-color: #9FFFE1;
position: absolute;
left: 0;
bottom: -3px; /* this is to match where the border is */
transform-origin: left; 
transform: scale(0);
transition: 0.25s linear;
/*will-change: transform;*/ 
}

nav.first_bar ul .nav-item:hover:before {
transform: scale(1);
}





    /*------------FIRST BAR END------------*/












/*------------SECOND BAR START------------*/

    .second_bar{
      background-color: transparent;
    }

    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
      opacity:0.5;
      transition: 0.5s;
    }

    .sticky:hover{
      opacity:1;
    }



    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }



    .modal_btn{
      border: 0;
      background-color: transparent;
    }



    .modal_btn {
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
      position: relative;
      background-color:  #9FFFE1;
      border: none;
      color: #141828;
      text-align: center;
      transition-duration: 0.4s;
      overflow: hidden;
      box-shadow:0 0 10px 0 rgb(0 0 0 / 20%);
      border-radius: 4px;
      padding: 5px;
    }

    .modal_btn:hover {
      background:#141828;
      color: #9FFFE1;

    }



    .modal_btn:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s
    }


    .second_bar ul{
      list-style: none;

    }



    .second_bar ul li{
      float: left;
      border: none;
      background-color: transparent;
      display: inline;  
      margin: 0 10px;
    }


    .second_bar ul .icon{
      color: #828282;
      padding: 5px;
      border-radius: 50% ;
      margin: 0;
      transition: 0.5s;
    }

    .second_bar ul .icon:hover{
      color: #464646 ;
    }

    .second_bar ul {
      margin-right: 30px;

    }


    .con {
      transition: all 0.25s linear;
      position: relative;
    }

    .con:before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: #464646;
      position: absolute;
      left: 0;
      bottom: -3px; /* this is to match where the border is */
      transform-origin: left; 
      transform: scale(0);
      transition: 0.25s linear;
    /*   will-change: transform; */
    }

    .con:hover:before {
      transform: scale(1);
    }




    .second_bar a{
      color: #464646;
      transition: 0.5s;
      
    }


    .second_bar a:hover{
      color: #202020;
      text-decoration: none;
    }


    .second_bar .con{
      margin: 7px 20px;
    }


    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      right: 0;
      z-index: 1;
    }

/*------------SECOND BAR END------------*/
